<ion-content>
    <ion-slides pager="true" [options]="slideOpts">

        <ion-slide>
            <h1>
                Need your morning coffee?
            </h1>
            <img src="assets/images/slide1.jpg" alt="">

            <h5>
                We have your solution within 15 mins
            </h5>
        </ion-slide>

        <ion-slide>
            <h1>We have the solution!</h1>
            <div>
                Place your order in minutes
            </div>
            <p>
                Have your coffee delivered in no-time!
            </p>
            <div padding>
                <ion-button expand="full" (click)="goToTabs()">OK, let's go!</ion-button>
            </div>
        </ion-slide>
    </ion-slides>
</ion-content>
